@import url('https://fonts.googleapis.com/css2?family=Outfit=Lato:ital,wght@0,400;0,700;1,400&display=swap');

.content{
    max-width: 1000px;
    margin: 100px auto;
    padding: 50px;
    background-color: #ECEBE4;
    border-radius: 20px;
    height:2200px
}
.content-resume{
    max-width: 1000px;
    margin: 100px auto;
    padding: 50px;
    background-color: #ECEBE4;
    border-radius: 20px;
    height:2850px
}
.content-blog{
    max-width: 1000px;
    margin: 100px auto;
    padding: 50px;
    background-color: #ECEBE4;
    border-radius: 20px;
    height:2350px
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    border-radius: 20px;
    margin-bottom: 50px;
}
.hero-container{
    grid-column: 3/4;
    grid-row: 1/5;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}
.hero-container:hover{
    transform: rotate(1deg);
}
.hero-img{
    width: 100%;
    border-radius: 20px;
}
.nav-bar{
    display: grid;
    grid-template-rows: 120px auto;
    height: 100px;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
}
.logo{
    width: 100%;
}
.logo-link{
    width: 40%;
}
nav a{
    font-family: outfit;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    color: #DADDD8;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform-origin: center;
    box-sizing: border-box;
}
nav a:hover{
    color: #1C1C1C;
    transform: scale(1.1);
}
nav a.active{
    color: #1C1C1C;
}
body {
    background-color: #DADDD8; 
    font-family: outfit;
    font-size: 22px;
    padding: 0;
    margin: 0;
    
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    width: 100%;
}
.about-me{
    height: 320px;
    background-color: #EEF0F2;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.about-me p{
    color: #1C1C1C;
    font-size: 18px;
    margin: 10px;
    text-align: justify;
    font-weight: 300;
    overflow-wrap: break-word;
}
span{
    font-weight: bold;
}
.bento-card{
    display: grid;
    grid-gap: 10px;
    background-color: #DADDD8;
    border-radius: 20px;
    height: 500px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    grid-template-rows: 2fr 1fr;
}
.bento-card:hover{
    transform: rotate(1deg);
}
.card-img-block{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.card-img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 100%;
}
.card-img:hover{
    transform: scale(1.1);
}
.bento-text a img {
    width: 20%;
    height: auto;
    float: right;
    margin-right: 40px;
    margin-left: 10px;
}
.bento-text a {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    padding-bottom: 10px;
    text-decoration: none;
    color: #1c1c1c;
}
.bento-text{
    color: #1C1C1C;
    height: auto;
}
.bento-text p{
    font-weight: 100;
    margin: 10px 0px;
}
.bento-text h3{
    margin: 0;
}
footer{
    color: #1C1C1C;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer div p a{
    padding: 10px 10px;
    text-decoration: none;
    color: #1C1C1C;
    font-size: 15px;
}
.blog-grid{
    display: grid;
    width: 100%;
}
.blog-intro{
    height: 320px;
    background-color: #DADDD8;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.blog-intro p{
    color: #1C1C1C;
    font-size: 18px;
    margin: 10px;
    text-align: justify;
    font-weight: 300;
    overflow-wrap: break-word;
}
.blog-intro p span{
    font-weight: bold;
}
.portfolio{
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
}
.blog{
    display: grid;
    grid-gap: 1em;
}
.bento-blog{
    display: grid;
    grid-gap: 15px;
    background-color: #DADDD8;
    border-radius: 20px;
    /* margin: 20px; */
    height: 300px;
    padding: 20px;
    transition: transform 0.3s ease-in-out; 
    overflow: hidden;
    grid-template-columns: 2fr 2fr;
}
.bento-blog section{
height: 250px;
}
.resume-grid{
    display: grid;
    grid-gap: 1em;
}
.resume-block{
    margin: 30px;
    display: grid;
    grid-gap: 2em;
}
.resume-block div a{
    float: right;
    margin-right: 240px;
    text-decoration: none;
    color: #DADDD8;
}
.resume-block h1{
    text-align: left;
}
.resume-block h3{
    margin-bottom: 0%;
    line-height: 40px;
    color: #DADDD8;
}
h1{
    text-align: center;
    margin: 0;
    font-size: 40px;
}
.blog-div{
  display: grid;
  grid-gap: 30px;
}
/* .blog-intro{
    height: 270px;
    background-color: #EEF0F2;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.blog-intro p{
    color: #1C1C1C;
    font-size: 18px;
    margin: 10px;
    text-align: justify;
    font-weight: 300;
    overflow-wrap: break-word;
}
.blog-intro p span{
    font-weight: bold;
} */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader img {
    width: 90px;
    height: 90px;
}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #DADDD8;
  padding: 20px;
  font-size: 18px;
}
.contact-form h3{
    margin: 0;
    margin-bottom: 10px;
}
